/firmware/stargate-fw/build
/firmware/stargate-fw/sdkconfig.old
/firmware/stargate-fw/managed_components
/firmware/stargate-fw/main/WebServer/EmbeddedFiles.bin
/firmware/ring-fw/build
/firmware/ring-factory/build
/firmware/ring-factory/.vscode
/firmware/ring-fw/.vscode
/firmware/ring-fw/managed_components
/firmware/ring-factory/managed_components
/firmware/ring-factory/main/assets/EmbeddedFiles.bin
/firmware/ring-fw/sdkconfig.old
/firmware/ring-fw/dependencies.lock
/firmware/factory-fw/dependencies.lock
/firmware/stargate-fw/dependencies.lock
/firmware/stargate-fw/pinky-board/build
/firmware/stargate-fw/pinky-board/managed_components
/firmware/stargate-fw/pablo-board/build
/firmware/stargate-fw/pablo-board/managed_components
firmware/stargate-fw/pinky-board/sdkconfig.old
