<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="../common/css/content.css">
        <title>Stargate Command</title>
    </head>
    <body>
		<div id="app">
			<!-- Main part -->
			<div class="main">
                <button :disabled="!is_connected" @click="sendAction(apiControlURLs.control_autohome)">Auto home</button>
                <button :disabled="!is_connected" @click="sendAction(apiControlURLs.control_autocalibrate)">Auto calibrate</button>
                <button :disabled="!is_connected" @click="sendAction(apiControlURLs.control_abort)">Abort</button>

                <button :disabled="!is_connected" @click="sendAction(apiControlURLs.control_keypress)">Keypress</button>
                <br>
                <!-- Manual wormhole -->
                <div v-if="galaxy_info && galaxy_info.wormhole_types">
                    <select v-model="selectedWormholeTypeID">
                        <option v-for="item in galaxy_info.wormhole_types" :value="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                    <button :disabled="!is_connected" @click="sendAction(apiControlURLs.control_manualwormhole, { id : selectedWormholeTypeID })">Manual wormhole</button>
                </div>
                <br>
                <label>
                    ramp:
                    <input :disabled="!is_connected" type="range" min="0" max="1" step="0.05" id="id_ramp_perc" v-model="ramp_perc" v-on:change="sendAction(apiControlURLs.control_testramplight, { value : parseFloat(ramp_perc) })"><br>
                </label>
                <label>
                    servo:
                    <input :disabled="!is_connected" type="range" min="0" max="1" step="0.01" id="id_servo_perc" v-model="servo_perc" v-on:change="sendAction(apiControlURLs.control_testservo, { value : parseFloat(servo_perc) })"><br>
                </label>
                <br>
                <div>
                    <select v-model="selectedSoundFileID">
                        <option v-for="item in sound_list.files" :value="item.id">
                            {{ item.name }} [{{ item.desc }}]
                        </option>
                    </select>
                    <button :disabled="!is_connected" @click="sendAction(apiControlURLs.sound_play, { id : selectedSoundFileID })">Play sound</button>
                    <button :disabled="!is_connected" @click="sendAction(apiControlURLs.sound_stop)">Stop sound</button>
                </div>
                <br>
                <button :disabled="!is_connected" @click="sendAction(apiControlURLs.ringcontrol_poweroff)">Ring Power-Off</button>

                <!-- Test ring animation -->
                <div v-if="galaxy_info && galaxy_info.ring_animations">
                    <select v-model="selectedRingAnimationID">
                        <option v-for="item in galaxy_info.ring_animations" :value="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                    <button :disabled="!is_connected" @click="sendAction(apiControlURLs.ringcontrol_testanimate, { id : selectedRingAnimationID })">Test Animation</button>
                </div>
                <button :disabled="!is_connected" @click="sendAction(apiControlURLs.ringcontrol_gotofactory)">Goto Factory</button>
                <br>
                <table v-if="galaxy_info">
                    <tr v-for="item in galaxy_info.addresses" :key="item.id">
                        <td>
                            <button :disabled="!is_connected" @click="sendAction(apiControlURLs.control_dialaddress, { addr: item.address })">
                                <p>{{ item.name }}</p>
                                <span>
                                    <img v-for="symbolItem in item.address" style="width: 50px" :src="`../galaxies/universe/glyphs/${ symbolItem.toString().padStart(3, '0') }.svg`" />
                                </span>
                            </button>
                        </td>
                    </tr>
                </table>
                <br>
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in sys_info.infos" :key="item.name">
                            <td>{{ item.name }}</td>
                            <td>{{ item.value }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
        <!-- JS -->
        <script type="text/javascript" src="../common/js/vue.min.js"></script>
        <script type="text/javascript" src="../common/js/apiurl.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>