name: ci

on:
  push:
    branches: [ main ]
  
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: 'recursive'
      
    - name: Build (stargate-fw pablo-board)
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: v5.5
        path: ./firmware/stargate-fw/pablo-board
        target: esp32s3

    - name: Build (stargate-fw pinky-board)
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: v5.5
        path: ./firmware/stargate-fw/pinky-board
        target: esp32

    - name: Build (ring-factory)
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: v5.5
        path: ./firmware/ring-factory
        target: esp32

    - name: Build (ring-fw)
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: v5.5
        path: ./firmware/ring-fw
        target: esp32
